<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exam"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings" />
        <activity
            android:name=".ModifyAwardActivity"
            android:exported="false" />
        <activity
            android:name=".AddAwardActivity"
            android:exported="false" />
        <activity
            android:name=".ModifyTaskActivity"
            android:exported="false" />
        <activity
            android:name=".AddTaskActivity"
            android:exported="false"
            android:label="@string/title_activity_add_task"
            android:theme="@style/Theme.Exam" />
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:label="@string/title_activity_main2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="TencentMapSDK"
            android:value="OUGBZ-V4GWM-MXE6E-6ROHH-AINYK-FQBBF" />

        <activity
            android:name=".ShopItemDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>